%% -*- erlang -*-
{erl_opts, []}.

{eunit_compile_opts, [{src_dirs, ["src", "test"]}]}.

{deps,
 [{lfe,
   {git, "git://github.com/rvirding/lfe",
    {branch, "develop"}}},
  {ltest,
   {git, "git://github.com/lfex/ltest.git",
    {branch, "master"}}}]}.

{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {branch, "master"}}}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{lodox,
 [{apps,
   [{'{{name}}',
     [{'source-uri',
       "https://github.com/{{repo}}/blob/{version}/{filepath}#L{line}"}]}]}]}.
